name: build-node

on:
  push:

jobs:
  build-node:
    runs-on: ubuntu-latest
    container: node:18

    steps:
      - uses: actions/checkout@v3

      - run: node --version
      - run: npm --version

      - name: Install dependencies
        run: npm ci

      - name: Run app
        run: node app.js
